.sadness {
    width: 80%;
}

body {
    background-image: url(../images/pixarBackground.png);
}

.container {
    margin-top: 5%;
}

.jumbotron {
    padding: 2rem 2rem;
}

.center {
    margin: 0, auto;
}

#mainContent {
    margin-top: 8%;
}

p {
    font-size: 25px;
}

.footer {
    text-align: center;
    color: #FFEE00;
    font-size: 40px;
}

@media (min-width: 270px) and (max-width: 767px) {  
    
    body {
        background-image: url(../images/SadnessHeader.png);
        background-repeat: no-repeat;        
      background-color: #86ABD9;
    }

    .container {
        margin-top: 45%;
        align-content: center;
    }

    .footer {
        margin-top: 10%;
        text-align: center;
        color: #FFEE00;
        font-size: 70px;
    }

   